<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">  
        <!-- Laisons des fichiers CSS -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body class="arriereplan">
        <div class="bloc">  
            <h1 align="center">Add Metrics</h1> 
            <hr>
            <button class="btn btn-danger" href="/userpage" onClick='document.location.href="/userpage"'>
                Home Userpage
            </button>
            <form action="/addmetrics" method="post">
                <div>
                    <label for="form_date">Date</label>
                    <input id="form_date" type="date" required placeholder="Date" name="date" />
                </div>
                <div>
                    <label for="form_weight">Weight</label>
                    <input id="form_weight" type="number" required placeholder="Weight" name="weight" />
                </div>
                <hr>
                <button type="submit" class="btn btn-primary" value="Submit">Add</button>
            </form>
        </div>
    </body>
</html>