<!DOCTYPE html>
<html>
<head>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<link rel="stylesheet" href="../css/chart.css">
</head>
<body>

<div id="dashboard">
	<h1>Metrics</h1 a>
	<div class="chart">

	</div>
</div>
    <script>
    $.getJSON("/metrics/:id", {}, (data) => {
            const content = data.map(d => {
                return 'date: '+d.date+', weight: '+d.weight+'';
            })
            $('#metrics').append(content.join("\n"));
            });
    var data = [weight];
        d3.select(".chart")
        .selectAll("div")
        .data(data)
            .enter()
            .append("div")
            .style("width", function(d) { return d + "px"; })
            .text(function(d) { return d; });
    </script>
</body>
</html>