<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Laisons des fichiers CSS -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/home.css">
    </head>
    <body class="container">
        <div class="jumbotron">
        <h1 align="center">PROJECT NODEJS</h1> 
        </div> 
        <button class="btn btn-primary" href="/login" onClick='document.location.href="/login"'>
            Sign in
        </button>
        <button class="btn btn-primary" href="/signup" onClick='document.location.href="/signup"'>
            Sign up
        </button>
    </body>
</html>