<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <!-- Laisons des fichiers CSS -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body class="arriereplan">
        <img src="/images/co.png" alt="" width="400"/> 
        <div class="bloc">    
            <h4>Please login to your account</h4>
            <br>
            <form action="/login" method="post">
            <div>
                <label for="form_email">Email</label>
                <input id="form_email" type="email" required placeholder="Email" name="email"  />
            </div>
            <div>
                <label for="form_password">Password</label>
                <input id="form_password" type="password" required placeholder="Password" name="password" />
            </div>
            <br>
            <button type="submit" class="btn btn-danger btn-block" value="Submit">Connect</button>
            <br>
            <a style="color: rgb(170, 15, 15)" type="submit" href="/signup" onClick='document.location.href="/signup"'>
                Create an account ?
            </a> 
            </form>
        </div>
    </body>
</html>
