<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <!-- Laisons des fichiers CSS -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body class="arriereplan">
        <img src="/images/co.png" alt="" width="400"/> 
        <div class="bloc">    
            <h4>Please login to your account</h4>
            <form action="/login" method="post">
            <div>
                <label for="form_username">Username</label>
                <input id="form_username" type="text" name="username" />
            </div>
            <div class="form-group">
                <label for="form_password">Password</label>
                <input id="form_password" type="password" name="password" />
            </div>
            <div>
            <button type="submit" class="btn btn-danger btn-block" value="Submit">Connect</button>
            </div>
            <a type="submit" href="/signup" onClick='document.location.href="/signup"'>
                Create an account ?
            </a>
            </form>
        </div>
    </body>
</html>
